body{
	margin:0;
	padding:0;
background :url('background.jpg');
background-position:center;
background-size:cover;
height:100%;
}
h1{
	background:lightblue;
padding: 20px 10px;
text-align:center;
font-size:28px;
color:white;}
 html{ height:100%;
 margin:0;
 }
.loginbox{
	width:320px;
	height:550px;
	background:rgba(0,0,0,0.5);
	color:red;
	top:50%;
	left:50%;
	position:absolute;
	transform:translate(-50%,-50%);
	box-sizing:border-box;
	
}
.avatar{
	width:100px;
	height:100px;
	border-radius:50%;
	position:absolute;
	top:-50px;
	left:105px;
}
.inputgroup{margin:0px 0px 0px 0px;}
.inputgroup label{
	color:dodgerblue;
	font-weight:bold;
	display:block;
	margin-bottom:3px;
	text-align:justify;
	position:static;
}
.inputgroup input{
	margin:3px;
	height:20px;
width:70%;
padding :3px 7px;
font-size:16px;
border-radius:3px;
border:1px solid blue;

}
.btn{
padding:10px;
font-size:15px;
background-color: violet;
border-radius:3px;
border :1px green;
}
.error {
	width:90%;
	margin:0px ;
	padding:0px;
	border :1px red;
	color:#a94442;
	background:#f2dede;
	border-radius:5px;
	margin-left:3px;
	margin-bottom:3px;
}
.header{
	width:30%;
	margin:50px auto 0px;
	color:white;
	background:#5F9EA0;
	text-align:center;
	border:1px solid #B0C4DE;
	border-bottom:none;
	border-radius:10px 10px 0px 0px;
	padding:20px;
}
.container{
	width:60%;
	margin:0 auto;
	overflow:auto;
	
}
header{
	border-bottom:3px #f4f4f4 solid;
}
footer{
	border-top:3px #f4f4f4 solid;
	text-align:center;
	margin-top:5px;
}
main{
	padding-bottom:50px;
}
.start{
	display:inline-block;
	color:#666;
		background:lightgreen;

	border:1px dotted #ccc;
	padding:6px 13px;
}
.current{
	padding:10px;
	background:#f4f4f4;
	border:#ccc dotted 1px;
	margin:20px 0 10px 0;
}
@media only screen and (max-width:960px)
{
	.container{
		width:80%;
	}
}


	



 